.in1{
	height: 200px; 
	width: 100%;
	margin: 10px 5px 0 5px;
}
.in1 h4{
	font-size: 20px;
	font-weight: bold;
	color: #075e8e;
	font-family: system-ui;
	margin-top: 5%;
	text-align: center;
}.in1 h5{
	text-align: center;
	font-size: 15px;
}
.in2{
	height: 100px;
	width: 100%;
	background: #5bb033;
}
.in2 h2{
	color: white;
	text-align: left;
	margin-left: 10%;
}
.in2 h4{
	color: #bbd1b2;
	text-align: left;
	line-height: 2px; 
	margin-left: 10%; 
	margin-top: 2%; 
	font-size: 15px;
}
